# Project Affiliate (NKiaX Ecosystem) Environment Variables Template
PORT=3000
NODE_ENV=production
AMAZON_ASSOCIATE_TAG=nagireddy0e-21
ADMIN_SECRET_TOKEN=nkiax_admin_2026_secure
AMAZON_STOREFRONT_URL=https://www.amazon.in/shop/influencer-49d2b6c4?ref_=hype_hm_sf_e
SYNC_INTERVAL_HOURS=2
